html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f0f2f5; /* Un color de fondo suave */
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.form-check {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-primary {
    --bs-btn-bg: #530a58; /* Un tono similar a tu diseño */
    --bs-btn-hover-bg: #3d0740;
    --bs-btn-border-color: #530a58;
    --bs-btn-hover-border-color: #3d0740;
}

.banner {
  background-image: url(/frontend/public/Logo-Albor.png);
  background-size:cover;
  z-index: 1;
  background-position:center;
  filter: brightness(0.6);
  border:none;
}